{% extends 'base.html.twig' %}
{% block title %} SnowTricks{% endblock %}
{% block main %}
        <!-- ======= Hero Section ======= -->
        <div class="hero d-flex align-items-end row m-0">
            <div class="col-10 bg-info text-white container-fluid d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
                <h1 class="display-3">SnowTricks</h1>
                <h2>The new reference for snowboarding tricks !</h2>
            </div>
            <div class="col offset-10 offset-md-11">
                <a href="/#services" class="text-white"><i class="fas fa-arrow-circle-down fa-3x"></i></a>
            </div>

        </div><!-- End Hero -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container px-4 py-5" id="custom-cards">
                <h2 class="pb-2 display-5">Tricks</h2>
                <p>Check our list of tricks and add your own !</p>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 align-items-stretch g-4 py-5">
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: url('build/images/background.5194caca.jpg') no-repeat center; background-size: cover">
                            <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto me-lg-4">
                                        <a href="#modal" class="text-white text-decoration-none" data-lightbox>
                                            <p class="h4">Trick</p>
                                        </a>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="modal" class="lightbox-hide">
                            <div class="modal-content">
                                <h3>Welcome!</h3>
                                <p>Sign in to your account.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto justify-content-between">
                                    <li class="col-auto me-auto me-lg-4">
                                        <p class="h4">Trick</p>
                                    </li>
                                    <li class="col-auto">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="col-auto">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <p class="h4">Trick</p>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <p class="h4">Trick</p>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: url('build/images/background.5194caca.jpg') no-repeat center; background-size: cover">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <p class="h4">Trick</p>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <p class="h4">Trick</p>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {#
                        TODO: Modal ??
                    #}
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <p class="h4">Trick</p>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <p class="h4">Trick</p>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <p class="h4">Trick</p>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <p class="h4">Trick</p>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End Services Section -->
{% endblock %}