<!-- Modal -->
<div class="modal fade"
     id="mediaModal" tabindex="-1"
     aria-labelledby="mediaModalLabel" aria-hidden="true"
     data-modal-form-target="modal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
